body {
    background-color: black;
    max-width: 100%;
}
.main{
  display: flex;
  flex-direction: column;
 justify-content: space-between;
}
.navbar{
  display: flex;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  font-size: 15px;
}
.navcenter {
 display: flex;
}
.awards{
  display: flex;
   font-size: 30px;
   padding-left: 25px;
}
.sign{
  display: flex;
  font-style: italic; 
  padding-right: 25px; 
  font-size: 18px;
}
.competitions{
  font-weight: 700;
  padding-left: 40px;
}
.about{
  padding-right: 50px;
}
  a {
    text-decoration: none;
    color: white;
  }
  .center {
    display: flex;
    justify-content: space-between;
  }
  .content {
    color: white;
    max-width: 630px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding-top: 200px;
    padding-left: 20px;
    font-size: 14px;
  }
  .picture {
    padding-top: 200px;
  }
 .click {
    border: none;
    background: transparent;
    display: block;
    font-size: 15px;
    color: white;
    outline: none;
    text-decoration: underline; 
   cursor: hand;
   cursor: pointer;
   margin: 0; 
   padding-left: 20px;
   margin-bottom: 200px;
  }
  .back{
    opacity: 0.5;
  }
  .formcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid 50px rgb(201, 199, 199);
    margin: 0;
    padding-top: 50px;
  }
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 30px;
    max-width: 200%;
}
.style-select {
  background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.city {
  display: flex;
 justify-content: space-between;
 margin-bottom: 50px;
}
.country {
  display: flex;
 justify-content: space-between;
}
.gender {
  color: white;
}
.heading {
color: white;
margin-bottom: 50px;
}
.descontainer{
  color: white;
  margin-bottom: 20px;
}
textarea{
  border-radius: 10px;
  border: solid 2px gray;
  background: transparent;
}
.category{
  margin-top: 50px;
  margin-bottom: 35px;
}
.pay {
  color: white;
  margin-bottom: 20px;
}
.terms {
  text-decoration: none;
  color: rgb(120, 167, 211);
}
.agree{
  color: white;
}
.go {
display: flex;
flex-direction: row;
justify-content: space-between;
}
.submit {
  color: white;
  background-color: #4db857;
  text-align: center;
  width: 150px;
  border: none;
  padding: 5px;
  border-radius: 15px;
}
.cancel {
  color: white;
  background-color: red;
  text-align: center;
  width: 150px;
  border: none;
  padding: 5px;
  border-radius: 15px;
}
