* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
    background-color: black;
}

.navbar{
  display: flex;
  justify-content: space-between;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;
  font-size: 1.5rem;
  
}
.navcenter {
 display: flex;
 justify-content: space-between;
width: 40%;
}
.awards{
  display: flex;
   font-size: 3rem;
   padding-left: 25px;
}
.sign{
  display: flex;
  font-style: italic; 
  padding-right: 25px; 
  font-size: 1.8rem;
}
.competitions{
  font-weight: 700; 
}
  a {
    text-decoration: none;
    color: white;
  }
  .center {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
  }
  .content {
    color: white;
    max-width: 630px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   padding-top: 200px;
    padding-left: 20px;
    font-size: 1.5rem;  
  }
  .picture {
    padding-top: 200px;
    padding-right: 20px;
  }
 .click {
    border: none;
    background: transparent;
    display: block;
    font-size: 1.5rem;
    color: white;
    outline: none;
    text-decoration: underline; 
   cursor: hand;
   cursor: pointer; 
  }
  .back{
    background-color: #2b2929; 
    justify-content: center;
    align-items: center;
    width: 650px;
  }
  .formcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding-top: 50px;
    background-color: #3d3c3c;
    width: 90%;
    font-size: 1.3rem;
    opacity: 0.8;
    background-image: url("/Cam\ image.svg");
    background-position: center;
  }
  .heading {
    color: white;
    margin-bottom: 50px;
    }
  .formfirst {
   width: 42%;
  }
  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    margin-bottom: 25px;
}
.style-select {
  background: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}
.city {
  display: flex; 
 margin-bottom: 40px;
}
.state {
  padding-left: 15px;
}
.country {
  display: flex;
 
}
.zip {
  padding-left: 15px;
  width: 50%;
}
.gender {
  color: white;
}

.descontainer{
  color: white;
  margin-bottom: 20px;
}
textarea{
  border-radius: 1rem;
  border: solid 2px gray;
  background: transparent;
}
.category{
  margin-top: 50px;
  margin-bottom: 35px;
  width: 42%;
}
.pay {
  color: white;
  margin-bottom: 20px;
}
.terms {
  text-decoration: none;
  color: rgb(120, 167, 211);
}
.agree{
  color: white;
}
.go {
display: flex;

}
.submit {
  color: white;
  background-color: #4db857;
  text-align: center;
  width: 130px;
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
}
.cancel {
  color: white;
  background-color: black;
  text-align: center;
  width: 130px;
  border: none;
  padding: 0.5rem;
  border-radius: 15px;
}
.can {
  padding-left: 8%;
}
.vertical {
  border-left: 2px solid rgb(247, 244, 244);
  height: 100%;
  padding-left: 20px;
  width: 42%;
}
input:focus,
textarea:focus {
  outline: none;
}
.name {
  width: 60%;
}
.streetaddress {
  margin-bottom: 20px;
  width: 50%;
}
.street {
  width: 40%;
}
