body {
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}
.awards{
    font-size: 30px;
    padding-right: 50px;
}
li {
    display: inline;
  }
  a {
    padding: 20px;
    text-decoration: none;
  }
  .main {
    color:aliceblue;
  }